@{
    <br />
    ViewBag.Title = "Giới thiệu";
}
<h2 style="color: #12bd9e; font:initial ; font-size:40px"><strong>@ViewBag.Message</strong></h2>
<br />
<p>Nổi tiếng bởi những chương trình ca nhạc đặc sắc hằng đêm với những giọng hát nổi tiếng, phòng trà Thanh Trà là lựa chọn của nhiều bạn trẻ cũng như giới doanh nhân và nhân viên văn phòng khi muốn tìm kiếm một không gian thư giãn đẹp và tiện nghi. Nằm trên con phố của những cao ốc văn phòng tất bật công việc, Thanh Trà được thiết kế vô cùng tao nhã, thoáng đãng, gần như tách biệt hẳn không khí nhộn nhịp bên ngoài.</p>
<br />
<p>Đi vào hoạt động từ năm 2013. Phòng Trà Thanh Trà không chỉ là nơi thư giãn, giao lưu thuần túy giữa khán giả - ca sĩ như: Thu Hải, Công Trứ, Đức Hạnh, Đức Vũ, Mạnh Cường,… Gần 8 năm hoạt động, Thanh Trà không những trụ được mà ngày càng có nhiều khán giả trong nước và Việt kiều tìm đến, nhất là sau khi khán phòng nâng cấp nội thất hiện đại. Sự ấm cúng, phục vụ chu đáo và nhiều chương trình hay đã nhanh chóng giúp Thanh Trà trở thành “cõi vô thường” của những người Việt xa quê hương, đến đây sẽ có cảm giác như đang ở chính “ngôi nhà âm nhạc” của mình.</p>
<br />

<style>
    body {
        background-image: url('../../hinhanh/42.jpg');
        background-size: auto;
    }
</style> 