@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1><strong>PHÒNG TRÀ THANH TRÀ</strong></h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("ORDER TẠI ĐÂY >>", "Order", "Home")</a></p>
</div>
<style>
    body {
        background-image: url('../../hinhanh/42.jpg');
        background-size: auto;
    }
</style>
<p style="color: firebrick; font: initial; font-size:40px"> <strong>Hình ảnh</strong></p>
<br />

<img src="~/hinhanh/cuộc thi.jpg" width="500" height="300" />
<img src="~/hinhanh/nuoc2.jpg" width="400" height="300" />
<br />
<img src="~/hinhanh/cho ngoi.jpg" width="400" height="300" />
<img src="~/hinhanh/sankhau.jpg" width="500" height="300" />
<br />

@*</div>*@
@*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
@*</div>*@