@{
    ViewBag.Title = "THÔNG TIN DỊCH VỤ";
}
<h2 style="color: #12bd9e; font: initial; font-size:40px "><strong>@ViewBag.Title</strong></h2>

<h3>@ViewBag.Message</h3>


<style>
    body {
        background-image: url('../../hinhanh/42.jpg');
        background-size: auto;
    }
</style>
<P style="color: #12bd9e; font: initial; font-size:20px ">
    <strong>Phòng trà Thanh Trà mang lại dịch vụ tốt nhất cho bạn</strong>
</P>
<br />


<p style="color: #12bd9e;font: initial; font-size:20px"> <strong>Không gian ấm cúng</strong> </p>
<img src="~/hinhanh/khong gian.jpg" width="300" height="350" />
<br />
<br />

<p style="color: #12bd9e;font: initial;font-size:20px">
    <strong>Thức uống đa dạng</strong>
</p>
<br />

<img src="~/hinhanh/nuoc.jpg" width="400" height="350" />
<img src="~/hinhanh/nuoc2.jpg" width="400" height="350" />
<br />
<br />

<p style="color: #0fe0aa; font:initial;font-size:20px">
    <strong>Nhiều cuộc thi hấp dẫn</strong>
</p>
<br />
<img src="~/hinhanh/cuộc thi.jpg" width="500" height="350" />



